{{ form_start(form, {attr: { novalidate: 'novalidate' }}) }}

    {{ form_row(form.name) }}
    
    <button class="btn btn-success">{{ button_label|default('Créer') }} <i class="fas fa-save"></i></button>
    <a href="{{ path('mood_index') }}"><button class="btn btn-primary me-1" type="button">Retour à la liste <i class="fas fa-step-backward"></i></button></a>
{{ form_end(form) }}
