{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }} #}

{{ form_start(form, {attr: { novalidate: 'novalidate' }}) }}

    {{ form_row(form.email) }}
    {{ form_row(form.pseudo) }}

    {{ form_row(form.password) }}

    {{ form_row(form.roles) }}
    {{ form_row(form.steamId) }}
    
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
