{% extends 'base.html.twig' %}

{% block title %}Le Nexus - BackOffice{% endblock %}

{% block body %}

<div class="my-1 d-flex justify-content-between align-items-center px-3">
    <h1>Gestion des Utilisateurs</h1>

    <a href="{{ path('user_new') }}" class="btn btn-success" role="button">Créer un utilisateur</a>
</div>

<div class="table-responsive mx-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Role</th>
                <th>Pseudo</th>
                <th>SteamId</th>
                <th>Pseudo Steam</th>
                <th>Avatar Steam</th>
                <th>Date de création</th>
                <th>Mise à jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.steamId }}</td>
                <td>{{ user.steamUsername }}</td>
                <td><img src="{{ user.steamAvatar }}"></td>
                <td>{{ user.createdAt ? user.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-success" role="button">Afficher</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-warning" role="button">Editer</a>
                    <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Il n'y a pas grand chose à afficher par ici...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


    
{% endblock %}
