{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="my-1 d-flex justify-content-between align-items-center px-3">
    <h1>Infos utilisateur : {{ user.pseudo }}</h1>

    <a href="{{ path('user_new') }}" class="btn btn-success" role="button">Créer un utilisateur</a>
</div>
    

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>SteamId</th>
                <td>{{ user.steamId }}</td>
            </tr>
            <tr>
                <th>SteamUsername</th>
                <td>{{ user.steamUsername }}</td>
            </tr>
            <tr>
                <th>SteamAvatar</th>
                <td>{{ user.steamAvatar }}</td>
            </tr>
            <tr>
                <th>VisibilityState</th>
                <td>{{ user.visibilityState ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsLogged</th>
                <td>{{ user.isLogged ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">Retour à la liste</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">Editer</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
